<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Edit Product</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" #productForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="product.name" name="name" required>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" [(ngModel)]="product.description" name="description"
          required></textarea>
      </div>
      <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price" [(ngModel)]="product.price" name="price" required>
      </div>
      <div class="form-group">
        <label for="supplies">Stock</label>
        <input type="number" class="form-control" id="supplies" [(ngModel)]="product.supplies" name="supplies" required>
      </div>
      <div class="form-group">
        <label for="category">Category</label>
        <select class="form-control" id="category" [(ngModel)]="product.category.id" name="categoryId" required>
          <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image URL</label>
        <input type="text" class="form-control" id="imageUrl" [(ngModel)]="product.imageUrl" name="imageUrl">
      </div>
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </form>
  </div>
</div>