<!-- <div class="main-content">
  </div>

  <footer class="bg-success text-white text-center mt-5 bg-success">
    <div class="container py-4">
      <p class="mb-0">&#64; 2024 AgroFarm - Vaša poljoprivredna apoteka</p>
      <p class="mb-0">Kontakt: info&#64;agrofarm.com | Telefon: +381 00 1234567</p>
      <p class="mb-0">
        <a href="#" class="text-white ml-2">O nama</a>
      </p>
    </div>
  </footer>
   -->

<footer>
  <div id="contact" class="footer">
    <div class="container">
      <div class="row pdn-top-30">
        <div class="col-md-12 ">
          <div class="footer-box">
            <div class="headinga">
              <h3>Address</h3>
              <span>Bride DRess . Tanger Mall </span>
              <p>(+212 98765348)</p>
            </div>
            <ul class="location_icon">
              <li> <a href="#"><img src="icon/facebook.png"></a></li>
              <li> <a href="#"><img src="icon/Twitter.png"></a></li>
              <li> <a href="#"><img src="icon/linkedin.png"></a></li>
              <li> <a href="#"><img src="icon/instagram.png"></a></li>
            </ul>
            <div class="menu-bottom">
              <ul class="link">
                <li> <a href="#">Home</a></li>
                <li> <a href="#">About</a></li>
                <li> <a href="#"> Dresses</a></li>
                <li> <a href="#">Gallery</a></li>
                <li> <a href="#"> Contact us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</footer>
